[submodule "simulation/deps/xinuk"]
	path = simulation/deps/xinuk
	url = https://github.com/Noarkhh/xinuk.git
[submodule "simulation/deps/quadtree-scala"]
	path = simulation/deps/quadtree-scala
	url = https://github.com/Noarkhh/quadtree-scala.git
